.input-container {
  display: flex;
  margin-top: 50px;
}
.text-box {		
  margin: 0 auto; 
}

input {
  padding: 5px;
  margin-right: 10px;
}

button {
  padding: 5px 10px;
}
.weather-card {
  border-radius: 10px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
  width: 500px;
  margin: 0 auto; 
  margin-top: 50px;
}

.location {
  margin-bottom: 16px;
}

.location h2 {
  font-size: 24px;
  margin-bottom: 8px;
}

.last-updated {
  color: #777;
  font-size: 14px;
}

.weather-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.temperature {
  text-align: center;
}

.temperature h3 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 8px;
}

.condition {
  color: #555;
  font-size: 18px;
  margin-top: 4px;
}

.details {
  display: flex;
  align-items: center;
}

.details div {
  margin-right: 24px;
}

.icon {
  width: 50px;
  height: 50px;
  margin-bottom: 8px;
}

.info {
  color: #555;
  font-size: 16px;
  margin-bottom: 8px;
margin-left: 4px;
padding-bottom: 6px;
}

.info-parent {
display: flex;
align-items: center;
}

.feels-like {
margin-left: 4px;
}

.error-card {
  border-radius: 10px;
  padding: 16px;
  background-color: #fde2e2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
width: 500px;
margin: 0 auto; 
margin-top: 50px;
}

.error-message {
  color: #e53e3e;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}